@using System.ComponentModel.DataAnnotations
@page "/BlazorIndex"
@inject IJSRuntime JSRuntime

@*@if (LastSubmitResult != null)
    {
        <h2>
            Last submit status: @LastSubmitResult
        </h2>
    }

    <WindowControl Title="ناصر" Width="100" Height="100">

        <WindowContent>
            ناصر پرهیزکار هستم از قزوین
        </WindowContent>
    </WindowControl>

    <EditForm Model=@Person>
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="Name">Name</label>
            <InputText @bind-Value=Person.FirstName class="form-control" id="Name" />
            <ValidationMessage For="() => Person.FirstName" />
        </div>
        <div class="form-group">
            <label for="Age">Age</label>
            <InputNumber @bind-Value=Person.Salary class="form-control" id="Age" />
            <ValidationMessage For=@(() => Person.Salary) />
        </div>
        <input type="submit" class="btn btn-primary" value="Save" />
    </EditForm>

    @code {
        Person Person = new Person();
        string LastSubmitResult;
        void FormSubmitted(EditContext editContext)
        {
            bool formIsValid = editContext.Validate();
            LastSubmitResult =
              formIsValid
              ? "Success - form was valid"
              : "Failure - form was invalid";
        }


        public class Valid<TValue> : Microsoft.AspNetCore.Components.Forms.ValidationMessage<TValue>
        {
            protected override void OnAfterRender(bool firstRender)
            {
                base.OnAfterRender(firstRender);
            }
        }

    }*@


@*<div @ref="formElement">
        <EditForm Model="_person" OnValidSubmit="@(async() => await HandleValidSubmit())">
            <DataAnnotationsValidator></DataAnnotationsValidator>

            <MobinInputText @bind-Value="_person.FirstName"></MobinInputText>
            <button type="submit">Submit</button>
        </EditForm>
    </div>


    @code{
        private Person _person = new Person();
        EditContext EditContext;
        ElementReference formElement;

        public async Task HandleValidSubmit()
        {
            JSRuntime.InvokeVoidAsync("blazor.editForm.validate", formElement);
        }
    }*@

<h1>Hello, world!</h1>

<p>
    Welcome to your new app.
</p>

<dialog Title="Learn More">
    Do you want to
    <i>learn more</i> about Blazor?
</dialog>