@page "/Prerendered_interop"
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime


Set value via JS interop call:
<div id="val-set-by-interop" @ref="divElement"></div>

@code {

    private ElementReference divElement;

    protected async override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync(
                "setElementText", divElement, "Text after render");
        }
    }
}