@using Northwind.WebUI.Controllers
@using Northwind.Repository;

@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout-old.cshtml";
}

<table class="k-grid-header table, k-grid-content table, k-grid-footer table, k-grid-content-locked > table">
    <colgroup>
        <col class="border" style="width:300px" />
        <col class="border" style="width:300px" />
        <col class="border" style="width:300px" />
    </colgroup>
    <thead>
        <tr class="border">
            <th class="border"><a class="k-link" href="#">شرکت</a></th>
            <th class="border"><a class="k-link" href="#">3شرکت</a></th>
            <th class="border"><a class="k-link" href="#">2شرکت</a></th>
        </tr>
    </thead>
    <tbody>
        <tr class="border">
            <td class="border">1</td>
            <td class="border">2</td>
            <td class="border">3</td>
        </tr>
    </tbody>
</table>


<div class="row">
    <div class="col-xs-18 col-md-12">
        @(Html.Kendo().Grid<Customer>().Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.CustomerId).Filterable(t => t.Enabled(false));
                        columns.Bound(x => x.CompanyName).Filterable(t => t.Enabled(false));
                        columns.Bound(x => x.ContactName).Filterable(t => t.Enabled(false));
                        columns.Bound(x => x.ContactTitle).Filterable(t => t.Enabled(false));
                        columns.Bound(x => x.Country).Filterable(t => t.Cell(y => y.SuggestionOperator(FilterType.Contains)));
                        columns.Bound(x => x.City).Filterable(t => t.Enabled(false));
                        columns.Bound(x => x.Phone).Filterable(t => t.Enabled(false));
                    }).ToolBar(t => t.Create().Text("افزودن"))
                    .Editable(t => t.Mode(GridEditMode.PopUp))
                    .DataSource(dataSource =>
                    {
                        dataSource
                            .WebApi()
                            .Filter(t => t.Add(r => r.Country).Contains("u"))
                            .PageSize(10)
                            .Read(read => read.Action<CustomerApiController>(t => t.Read(null)));

                    })
                    .Pageable()
                    .Sortable()
                    .Scrollable()
                    .Filterable(t => t.Mode(GridFilterMode.Row).Enabled(true))
                    .HtmlAttributes(new { style = "height:550px;" })
            )
    </div>
</div>


