@using Northwind.WebUI.Controllers
@using Northwind.Repository;

@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout-old.cshtml";
}

<div class="row">
        <div class="col-xs-18 col-md-12">
            @(Html.Kendo().Grid<Customer>().Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.CustomerId).Filterable(t => t.Enabled(false));
                        columns.Bound(x => x.CompanyName).Filterable(t => t.Enabled(false));
                        columns.Bound(x => x.ContactName).Filterable(t => t.Enabled(false));
                        columns.Bound(x => x.ContactTitle).Filterable(t => t.Enabled(false));
                        columns.Bound(x => x.Country).Filterable(t => t.Cell(y => y.SuggestionOperator(FilterType.Contains)));
                        columns.Bound(x => x.City).Filterable(t => t.Enabled(false));
                        columns.Bound(x => x.Phone).Filterable(t => t.Enabled(false));
                    }).ToolBar(t => t.Create().Text("افزودن"))
                    .Editable(t => t.Mode(GridEditMode.PopUp))
                    .DataSource(dataSource =>
                    {
                        dataSource
                            .Ajax()
                            .Filter(t => t.Add(r => r.Country).Contains("u"))
                            .PageSize(10)
                            .Read(read => read.Action<CustomerApiController>(t => t.Read(null)));

                    })
                    .Pageable()
                    .Sortable()
                    .Scrollable()
                    .Filterable(t => t.Mode(GridFilterMode.Row).Enabled(true))
                    .HtmlAttributes(new { style = "height:550px;" })
            )
        </div>
    </div>


