@using Microsoft.AspNetCore.Routing

@{
    ViewData["Title"] = "PathView";
    Layout = "~/Views/Shared/_Layout-old.cshtml";
}

<h2>PathView</h2>


@(Html.Kendo().Grid<Path>().Name("BusOwnerGrid")
                         .Columns(col =>
                         {
                             col.Bound(t => t.PathId).Filterable(w => w.Mode(GridFilterMode.Row)).Width(300);
                             col.Bound(t => t.Name).Width(300);
                             col.Bound(t => t.Distance).Width(300);
                         })
                                   .DataSource(source => source.Ajax().PageSize(20).AutoMakeQueryExpression()
                                           .Model(model =>
                                           {
                                               model.Id(t => t.ID);
                                           })
                                           .Read(read => read.Action<PathApiController>(action => action.Read(null)))
                                                   .Create(create => create.Action<PathApiController>(action => action.Insert(null)))
                                                           .Update(update => update.Action<PathApiController>(action => action.Update(null)))
                                                   .Destroy(destroy => destroy.Action<PathApiController>(action => action.Delete(null))))
                                                   .ToolBar(toolbar => toolbar.Create().Text("افزودن"))
                                       .Editable(edit => edit.Mode(GridEditMode.PopUp)
                                        .Window(win => win.Name("wind").Modal().LoadContentFrom("EntryForm", "Path", "Bus")
                                        .Pinned(false).Modal(true).Title("مسیر")))
                                       )



