<CascadingValue Value="this">
    <div class="k-widget k-tabstrip">
        <ul class="k-tabstrip-items k-reset">
            @foreach (TabPage tabPage in Pages)
            {
                <li class="k-item k-state-default @GetActiveTabClass(tabPage)" @onclick=@(() => ActivatePage(tabPage) )>
                    @if (TabTextTemplate != null)
                    {
                        @TabTextTemplate(tabPage)
                    }
                    else
                    {
                        <span class="k-link">
                            @tabPage.Text
                        </span>
                    }
                </li>
            }
            @ChildContent
        </ul>
    </div>
</CascadingValue>

@code {
    // Next line is needed so we are able to add <TabPage> components inside
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment<TabPage> TabTextTemplate { get; set; }
    public TabPage ActivePage { get; set; }
    List<TabPage> Pages = new List<TabPage>();

    internal void AddPage(TabPage tabPage)
    {
        Pages.Add(tabPage);
        if (Pages.Count == 1)
            ActivePage = tabPage;
        StateHasChanged();
    }
    string GetActiveTabClass(TabPage page) { return page == ActivePage ? "k-state-active" : ""; }
    void ActivatePage(TabPage page) { ActivePage = page; }
}