<h3>Grid</h3>

@code {

    [Parameter] public string Name { get; set; }

    [Parameter] public List<GridColumn> GridColumns { get; set; }

    [Parameter] public ToolBar ToolBar1 { get; set; }

    [Parameter] public DataSource DataSource1 { get; set; }


    public class DataSource
    {

    }

    public class ToolBar
    {

    }


    public class GridColumn
    {

    }
}
