
<table class="k-grid-header table, k-grid-content table, k-grid-footer table, k-grid-content-locked > table">
    <colgroup>
        <col class="border" style="width:300px" />
        <col class="border" style="width:300px" />
        <col class="border" style="width:300px" />
    </colgroup>
    <thead>
        <tr class="border">
            <th class="border"><a class="k-link" href="#">شرکت</a></th>
            <th class="border"><a class="k-link" href="#">3شرکت</a></th>
            <th class="border"><a class="k-link" href="#">2شرکت</a></th>
        </tr>
    </thead>
    <tbody>
        <tr class="border">
            <td class="border">1</td>
            <td class="border">2</td>
            <td class="border">3</td>
        </tr>
    </tbody>
</table>




@code {

}
