@using Northwind.WebUI.Controllers
@using Northwind.Repository;
@using Northwind.WebUI.Areas.PDN.Controllers;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-old.cshtml";
}


<div class="row">
    <div class="col-xs-18 col-md-12">

        @(Html.Kendo().Grid<PDNProduct>().Name("grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.PDNProductName).Filterable(x => x.Enabled(false));
        columns.Bound(x => x.PDNUnitPrice);
})
    .DataSource(dataSource =>
    {
        dataSource
        .Ajax()
        .PageSize(5).AutoMakeQueryExpression()
         .Model(model =>
                                           {
                                               model.Id(t => t.PDNProductId);
                                           })
        .Read(read => read.Action<PDNProductApiController>(x => x.Read(null)));

    }).AutoBind(true)
    .Pageable()
    .Sortable()
        .Filterable(x => x.Mode(GridFilterMode.Menu).Enabled(true))
        )
    </div>
</div>

<script>
    function persianDate(date) {
        return (new pDate(+date)).persianFormat();
    }
</script>

<div class="row">
    <div class="col-xs-18 col-md-12">
        @*@(Html.Kendo().Grid<Northwind.Repository;.OrderViewModel>()
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.OrderID).Filterable(false);
                        columns.Bound(p => p.Freight);
                        columns.Bound(p => p.OrderDate).Format("{0:MM/dd/yyyy}");
                        columns.Bound(p => p.ShipName);
                        columns.Bound(p => p.ShipCity);
                    })
                    .Pageable()
                    .Sortable()
                    .Scrollable()
                    .Filterable()
                    .HtmlAttributes(new { style = "height:550px;" })
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Read(read => read.Action("Orders_Read", "Grid"))
                    )
            )*@

        @*@Html.Kendo().DropDownList().Name("Drp").DataSource(ds => ds.Ajax().Read(read => read.Action("Orders_Read", "Grid"))).DataValueField("OrderID").DataTextField("OrderID")*@
    </div>
</div>