@using Northwind.WebUI.Pages
@{
    Layout = "~/Views/Shared/_Layout-old.cshtml";
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


<component type="typeof(ColorfulCheckbox)" render-mode="ServerPrerendered" param-Dirction="@("ltr")" param-Size="14" param-Color="@("blue")" />


@*///
<reference path="jquery.d.ts" />
///
<reference path="kendo.all.d.ts" />

$(function () {
    var input = document.getElementById("bb");
    var technologies = document.body.appendChild(input);

    $(technologies).kendoDatePicker({
        value: new pDate(),
        culture: "fa-IR",
        format: "yyyy/MM/dd",
        min: new pDate(1358, 0, 1, 0, 0, 0, 0),
        max: new pDate(1399, 11, 29, 0, 0, 0, 0)
    });
});*@



