@{
    Layout = "~/Views/Shared/_Layout-old.cshtml";
    ViewData["Title"] = "Home Page";
}

<div>
    @(await Html.RenderComponentAsync<Northwind.WebUI.Pages.PathForm>(RenderMode.ServerPrerendered))
</div>
