@page "/TabControlDemo"


<div id="windowForAssign">
    <TabControl>
        <TabPage Text="پاریس">
            <h1>Rainy weather in Paris.</h1>
        </TabPage>
        <TabPage Text="نیویورک">
            <h1>Sunny weather in New York.</h1>
        </TabPage>
        <TabPage Text="بوستون">
            <h1>Tornado weather in Boston</h1>
        </TabPage>
        <TabPage Text="کالیفورنیا">
            <h1>Windy weather in California</h1>
        </TabPage>
    </TabControl>
</div>

