@using Northwind.Repository

@{
    ViewData["Title"] = "OrderIndex";
}

<h2>OrderIndex</h2>


<div class="row">
    <div class="col-xs-18 col-md-12">

        @(Html.Kendo().Grid<OrderDetail>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.UnitPrice);
        columns.Bound(x => x.Order.OrderDate).Format("{0:MM/dd/yyyy}");
        columns.Bound(x => x.Order.Customer.Country);
        columns.Bound(x => x.Product.ProductName);
        columns.Bound(x => x.Product.Category.CategoryName);
    })
    .Pageable()
    .HtmlAttributes(new { style = "height:100px;" })
    .DataSource(dataSource => dataSource
        .WebApi()
        .AutoMakeQueryExpression()
        .Model(t => t.Id(x => x.OrderDetailId))
        .PageSize(5)
        .Read(read => read.Action<Northwind.WebUI.Controllers.OrderDetailApiController>(t => t.Read(null)))
    )
)
    </div>
</div>

